<div class="recipe-list">
    <table class="centered responsive-table">
        <thead>
            <tr>
                <th *ngFor="let column of columns">
                    {{column}}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let recipe of recipes">
                <!-- <td>
                    <img src={{recipe.image}} />
                </td> -->
                <td>{{recipe.name}}</td>
                <td>
                    <app-recipe-list-tags [tags]="recipe.tags.split(' ')"></app-recipe-list-tags>
                </td>
                <td class="actions">
                    <a class="btn blue btn-small" [routerLink]="['/main-app/recipe-form', recipe.id]"><i class="material-icons">edit</i></a>
                    <a class="btn red btn-small" (click)="delete(recipe.id);"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>