.form
    border-radius: 15px
    display: flex
    flex-direction: column
    position: fixed
    top: 64px
    left: 30px
    bottom: 70px
    right: 30px
    height: 100%
    padding-bottom: 164px
    overflow: auto

.recipe-image
    margin: 30px

.chips
    width: 100%

.top
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    place-content: space-evenly

    .input-field
        width: 100%
        margin: 0px 30px

.middle
    display: flex
    flex-direction: column
    margin: 30px

.actions
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center

    a
        margin: 0px 15px
