.tags
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    flex-wrap: wrap
    max-width: 300px
    
p
    font-size: 10px
    text-transform: uppercase
    border-radius: 5px
    width: 30%
    margin: 2px 3px
